@use "../variables" as *;
@use "../queries" as *;
@use "../globals" as *;

h1,
h2,
h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

.janna {
  background-color: $dark-teal;
  display: flex;
  min-height: 30vh;
  // max-height: 50vh;
  margin-top: 6rem;
  padding-bottom: 2rem;
  height: 100%;

  .janna-container {
    // background-color: red;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    margin: 0 1.5rem;
    > * {
      font-family: "Hanken Grotesk", sans-serif;
    }
    .janna-container-main {
      // background-color: orange;
      height: max-content;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin: 0 1rem;
      .janna-name {
        font-size: 1.6rem;
        // font-size: 16px;
        font-weight: 700;
        @include lg {
          font-size: 3.2rem;
        }
      }
      .janna-title {
        font-size: 1.6rem;
        font-weight: 300;
        @include lg {
          // font-size: 2.4rem;
          font-size: 2.4rem;
        }
      }
      .janna-socials {
        .janna-socials-img {
          width: 2.5rem;
          height: auto;
          // background-color: black;
          @include lg {
            width: 3rem;
            margin: 0 1rem;
          }
        }
      }
      .janna-desc {
        font-size: 1.2rem;
        font-weight: 200;
        line-height: 2.5rem;
        @include lg {
          font-size: 1.6rem;
          text-align: justify;
        }
      }
      @include lg {
        flex: 1;
        justify-content: center;
        align-items: center;
        margin: 0 7rem;
      }
      @include xl {
        margin: 0 10rem;
      }
    }

    .janna-buttons-container {
      // background-color: green;
      display: none;
      @include lg {
        margin-bottom: 5rem;
        font-size: 1.6rem;
        font-weight: 200;
        display: flex;
        gap: 3rem;
        > * {
          color: white;
          text-decoration: none;
        }
      }
    }
    // HIDDEN COMPONENTS ON MOBILE VIEW
    .janna-image {
      display: none;
      @include lg {
        display: block;
        height: auto;
        width: 20rem;
      }
    }
    @include lg {
      padding-bottom: 0;
      height: 100%;
      justify-content: center;
      align-items: center;
      overflow-y: visible;
    }
  }

  @include lg {
    position: fixed;
    margin-top: 0;
    max-width: $homepage-about-div-width;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }

  // @include lg {
  //   // height: 100%;
  //   margin-top: 0;
  //   padding: 6rem;
  //   position: fixed;
  //   width: 40vw;
  //   overflow-y: visible;
  // }
  // @include xl {
  //   width: 35vw;
  // }
}
