.project-header {
  height: 40vh;
  background-size: cover;

  .project-header-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    > * {
      font-family: "Hanken Grotesk", sans-serif;
      color: white;
    }
    .project-header-title {
      margin-top: 7rem;
      font-size: 3.2rem;
      font-weight: 600;
    }
    .project-header-desc {
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
}
